/* CSS declarations go here */

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }
 
 main {
   flex: 1 0 auto;
 }
 
 .pagination {
   text-align: center;
 }
 
 .public-header {
   text-align: center;

 }