<template name="home">
  {{#if currentUser}}
  <div class="container">
    <div class="section">
     
    </div>
    <div class="section">
      <div class="row">
        <div class="card-panel">
          <h3 class="public-header">While chatting please be polite and respectful</h3>
        </div>
      </div>
    </div>
    <div class="section">
      <ul>
        {{#each postList}}
        <li>{{author}}: {{chat}} 
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="section">
      <form class="col s12 message-form">
        <div class="row">
          <input id="icon_prefix2" type="text" name="chat" placeholder="Type inside me">
        </div>
        <div class="row submit-button">
          <input type="submit" class="waves-effect waves-light btn">
        </div>
      </form>
    </div>
  </div>
  {{else}}
  <div class="container">
    <div class="section">
      <div class="card-panel">
        <h3>Please create an account TO TALK</h3>
      </div>
    </div>
  </div>
  {{/if}}
</template>